.MuiStepConnector-root.MuiStepConnector-vertical {
  margin-right: 20px;
}
.muirtl-jxdn7c-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  cursor: not-allowed !important;
}
.form-holder {
  height: 342px;
  overflow-y: auto;
}
