.product-image:hover {
  border-color: var(--secondary-color);
}
.product-image {
  height: 140px;
  cursor: pointer;
  border: 2px dashed #ccc;
  border-radius: 8px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #888;
    color: #9aa0a6;
    font-size: 14px;
    cursor: pointer;
    img {
      width: 150px;
      height: 100%;
      object-fit: contain;
    }
  }
}
.product-image .image-selected::after {
  content: 'تغيير الصورة';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  color: #111827;
  color: white;
  text-align: center;
  padding: 6px;
  font-size: 13px;
  opacity: 0;
  transition: 0.3s;
}

.product-image:hover .image-selected::after {
  opacity: 1;
}
.product-image label .icon {
  font-size: 72px;
  color: var(--secondary-color);
}
.upload-input {
  display: none;
}
