.locations {
  .title {
    .btn {
      gap: 8px;
    }
  }
  .filters-holder {
    margin-bottom: 20px;
    padding: 30px 20px;
    padding: 15px 20px;
    padding-bottom: 35px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #f7fafb;
    background-color: #e6f0f2;
    background-color: #eef7f7;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .input-holder {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    p {
      color: var(--secondary-color);
    }
  }
}
/* .governments,
.cities {
  .filters-holder {
    
  }
}
 */
