:root {
  --main-color: #014a5b;
  --bg-color: #f0f3f3;
  --border-color: #d1d5db;
  --sidebar-width: 230px;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  padding: 0px;
  list-style: none;
}
body {
  direction: rtl;
  text-align: right;
  background-color: var(--bg-color);
}
